.footer {
    background-color: #220000;
    color: #fff;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    background-color: #220000;
    min-height: 70px;
    display: flex;
    align-items: center;
}

.navbar a {
    color: #fff;
    margin-left: 1em;
    text-decoration: none;
    transition: .3s;
}

.navbar a:hover {
    color: #999
}
.navbar h2{
    color: #fff;
    margin-left: 30vw;
}